// ======================home===================
.home {
    position: relative;
    margin-top: var(--header-height) !important;
    padding-top: 2rem;
    .home__container {
        row-gap: 3rem;
        padding-top: 2rem;
    }
    .home__img {
        width: 30rem;
        justify-self: center;
    }
    .home__data {
        text-align: center;
        .home__title {
            font-size: var(--biggest-font-size);
            font-family: var(--title-font);
            margin-bottom: 1rem;
            img {
                width: 40px;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: .5rem;
            }
        }
        .home__description {
            padding: 0 1rem;
            margin-bottom: 2.5rem;
        }
    }
    .home__leaf1,
    .home__leaf2 {
        position: absolute;
        opacity: 0.2;
    }
    .home__leaf1 {
        rotate: 93deg;
        top: 0;
        width: 8rem;
        left: -2rem;
    }
    .home__leaf2 {
        rotate: 334deg;
        bottom: 0;
        width: 10rem;
        right: -2rem;
    }
}
//========================about===================
.about {
    position: relative;
    padding-top: 1rem;
    .about__container {
        row-gap: 3rem;
        .about__img {
            width: 30rem;
            justify-self: center;
        }
        .about__data {
            text-align: center;
        }
        .about__title{
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                img {
                    width: 3rem;
                }
            }
        }
    }
    .about__leaf {
        position: absolute;
        opacity: 0.2;
        width: 10rem;
        bottom: 12rem;
        right: -2.5rem;
        transform: rotate(-15deg);
    }
}
//========================popular================
.popular {

    .popular__container{
        padding-top: 4rem;
        grid-template-columns: 250px;
        justify-content: center;
        row-gap: 5.5rem;
        .popular__card {
            position: relative;
            background-color: var(--container-color);
            box-shadow: 0px 5px 20px rgb(176, 174, 174);
            border-radius: 1rem;
            text-align: center;
            transition: transform .3s;
            &:hover img{
               transform: translateY(-.3rem);
            }
            img {
                width: 22rem;
                transition: transform .4s;
            }
            h3 {
                font-size: var(--h3-font-size);
                font-family: var(--title-font);
                margin-bottom: .25rem;
            }
            p{
                display: block;
                margin-bottom: 1rem;
            }
            span {
                color: var(--first-color);
                font-size: var(--h3-font-size);
                font-weight: var(--font-medium);
            }
            button {
                position: absolute;
                right: 1rem;
                bottom: 0.25rem;
                padding: .7rem;
                background-color: var(--first-color);
                color: white;
                border: none;
                outline: none;
                border-radius: 50%;
                box-shadow: 0px 2px 8px rgb(185, 182, 182);
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 2px 8px rgb(152, 149, 149);
                }
            }
        }
    }
}
//========================recently================
.recently {
    position: relative;
    padding-top: 2rem;
    .recently__container { 
        .recently__img {
            width: 30rem;
            justify-self: center;
        }
    }
    .recently__data {
        position: relative;
        text-align: center;
        .recently__description {
            margin-bottom: 2rem;
        }
        .recently__data--img {
            position: absolute;
            top: 4rem;
            right: 5rem;
            width: 2.5rem;
            transform: rotate(30deg);
        }
    }
    .recently__img--leaf1,
    .recently__img--leaf2 {
        position: absolute;
        opacity: 0.3;
        width: 6rem;
    }
    .recently__img--leaf1 {
        top: 1rem;
        left: -2.5rem;
        transform: rotate(25deg);
    }
    .recently__img--leaf2 {
        bottom: 45%;
        right: -2.5rem;
        transform: rotate(-25deg);
    }
}
//========================newsletter================
.newsletter {
    .newsletter__container {
        position: relative;
        .newsletter__spinach {
            position: absolute;
            bottom: -4rem;
            right: 1rem;
            width: 3.3rem;
            transform: rotate(45deg);
        }
    }
    .newsletter__content {
        position: relative;
        background-color: rgba(44, 41, 41, 0.87);
        border-radius: 2.5rem;
        text-align: center;
        overflow: hidden;
        padding: 5rem 1rem 3rem;
        margin-bottom: 2rem;
        .newsletter__img {
            position: absolute;
            width: 25rem;
            top: -30%;
            left: -40%;
        }
        .newsletter__data {
            .section__title {
                color: #fff;
            }
            .newsletter__form {
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 1rem;
                border-radius: 4rem;
                column-gap: .5rem;
                .newsletter__input,
                .newsletter__button {
                    font-family: var(--body-font);
                    outline: none;
                    border: none;
                }
                .newsletter__input {
                    width: 90%;
                    color: var(--text-color);
                }
                .newsletter__button {
                    cursor: pointer;
                }
            }
        }
    }
}
