.header {
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s;
    nav{
        position: relative;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__logo,
    .nav__toggle,
    .nav__close{
        display: flex;
        color: var(--title-color);
    }
    .nav__logo {
        align-items: center;
        column-gap: .5rem;
        font-family: var(--title-font);
        font-weight: var(--h3-font-size);
        font-weight: var(--font-semi-bold);
        transition: color .3s;
        img {
            width: 2.5rem;
        }
        &:hover {
            h2 {
                color: var(--first-color);
            }
        }
    }
    .nav__toggle {
        font-size: 1.25rem;
        cursor: pointer;
    }
    .nav__menu {
        z-index: 1000;
        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
        }
        .nav__link {
            color: var(--title-color);
            font-weight: var(--font-medium);
            transition: color .4s;
            &:hover {
                color: var(--first-color);
            }
        }
        .nav__close {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 1.7rem;
        }
        .nav__img1,
        .nav__img2 {
            position: absolute;
            opacity: 0.4;
        }
        .nav__img1 {
            rotate: 180deg;
            width: 10rem;
            top: .75rem;
            left: -2rem;
        }
        .nav__img2 {
            width: 10rem;
            rotate: -60deg;
            right: -3rem;
            bottom: 0;
        }
    }
    .show--menu {
        top: 0;
    }
}
// change background header
.bg-header {
    box-shadow: 0 2px 8px rgb(165, 164, 164);
}