@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap');

:root{
    // ============= root ===============
    --header-height: 3.5rem;
    // ============= colors ===============
    --first-color: hsl(19, 64%, 54%);
    --first-color-alt: hsl(19, 64%, 52%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(19, 8%, 55%);
    --body-color: hsl(19, 100%, 96%);
    --container-color: hsl(19, 100%, 97%);
    // ============= font ===============
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Lora', serif;
    --subtitle-font: 'Dancing Script', cursive;
    // ============= font ===============
    --font-medium: 500;
    --font-semi-bold: 600;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 2rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    // z index
    --z-fixed: 100;
    --z-tooltip: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    text-transform: capitalize;
}

body.dark--theme {
    --first-color: hsl(19, 64%, 58%);
    --first-color-alt: hsl(19, 64%, 54%);
    --title-color: hsl(19, 24%, 85%);
    --text-color: hsl(19, 16%, 65%);
    --text-color-light: hsl(19, 16%, 65%);
    --body-color: hsl(19, 12%, 8%);
    --container-color: hsl(19, 10%, 10%);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}
.section__title {
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}
.section__subtitle {
    display: block;
    font-size: var(--h2-font-size);
    font-family: var(--subtitle-font);
    color: var(--first-color);
    margin-bottom: .5rem;
}
.section__title,
.section__subtitle {
    text-align: center;
}

.wide {
    max-width: 102.4rem;
    width: 100%;
    margin: 0 auto;
}
//button
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    padding: 1rem 1.5em;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: all .4s;
    .icon {
        font-size: 1.5rem;
        transition: transform .3s;
    }
    &:hover {
        background-color: var(--first-color-alt);
        .icon {
            transform: translateX(.25rem);
        }
    }
}
// scroll
::-webkit-scrollbar {
    border-radius: .5rem;
    width: 1rem;
   background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: .5rem;
    &:hover {
        background-color: var(--first-color-alt);
    }
}